// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.heart {
  color: red;
}
.blog_main_image {
  height: 300px;
  width: 300px;
  text-align: center;
  margin: auto;
}
.blog_links {
  width: 400px;
  margin: auto;
}
.profile_image {
  margin: 20px;
}
.blog_content {
  margin: 20px;

}
